/* This file is for your main application css. */
@import "~bootstrap/scss/bootstrap";

.login {
  margin-top: 15%;
}

// Background gradient animation from: https://codepen.io/P1N2O/pen/pyBNzX
body {
  margin: 0;
  height: 100%;
  background-color: #fdede8;
}

.login-page {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
}

#activity-title {
  color: #0d4559;
  font-weight: 700;
}

.title {
  margin-left: 30%;
  font-family: 'Archivo Black', sans-serif;
  font-size: 68px;
  color: white;
}

.song-title {
  font-weight: 700;
  text-align: center;
}

.song {
  border: 2px solid #0d4559;
  border-radius: 5px;
  background-color: #a7ddf1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.song:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#new-room {
  background-color: #e9fcf7;
  margin-top: 6%;
  padding: 8%;
}

#room-title {
  color: #88113f;
  text-align: center;
  margin-bottom: 5%;
  font-weight: 700;
}

#nav-color {
  background-color: #0d4559;
}

.btn-pink {
  background-color: #E73C7E;
  color: white;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
