/* This file is for your main application css. */
@import "~bootstrap/scss/bootstrap";

.login {
  margin-top: 15%;
}

html, body {
  background-image:linear-gradient(to bottom right, #cce6ff, #6666ff);
  height: 100%;
  width: 100%;
}

.title {
  margin-left: 38%;
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
}
