<h1>Show Song</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @song.title %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @song.author %>
  </li>

  <li>
    <strong>Playing:</strong>
    <%= @song.playing %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.song_path(@conn, :edit, @song) %></span>
<span><%= link "Back", to: Routes.song_path(@conn, :index) %></span>
