<script>
 window.gameName = "<%= @party_name %>";
 window.user_id = "<%= @user.id %>";
</script>

 <div class="row">
  <div class="column">
    <h1>Party Room: <%= @party_name %></h1>
    <div id="root">
    </div>
  </div>
</div>
