<!DOCTYPE html>
<%= if ! @current_login_user do %>
  <html lang="en" class="login-page">
<% else %>
  <html lang="en">
<% end %>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crowd DJ App · Phoenix Framework</title>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
      <script>
        window.userToken = "<%= @user_token %>";
      </script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
  </head>
  <%= if ! @current_login_user do %>
    <body class="login-page">
  <% else %>
    <body>
  <% end %>
      <%= if @current_login_user do %>
      <div class="container-fluid" id="nav-color">
          <nav class="row navbar navbar-expand-lg">
              <div class="col-9"></div>
              <div class="col-3">
                <a class="navbar-brand text-white" href="/users/<%=@current_login_user.id%>">Your Profile</a>
                  <%= link("Logout", to: Routes.auth_path(@conn, :delete), class: "btn btn-pink",
                  method: :delete) %>
              </div>
          </nav>
        </div>
      <% end %>
      <div class="row">
        <div class="col-12">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <% end %>
        </div>
      </div>
      <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
